<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/parcels" method="post">
      <label for="parcels">Add a new parcel</label>
      <label for="side1">Add a side1</label>
      <input id="side1" name="side1" type="number"value="2">
      <br>
      <label for="side2">Add a side2</label>
      <input id="side2" name="side2" type="number" value="3">
      <br>
      <label for="side3">Add a side3</label>
      <input id="side3" name="side3" type="number" value="6">
      <br>
      <label for="weight">Add a weight of parcel</label>
      <input id="weight" name="weight" type="number" value="7">
      <hr>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>